@import '../../index.css';

.code-word-confirm-container {
  min-width: auto !important;
  max-width: 100%;
}

.code-word-confirm-form {
  max-width: 100%;
}

.code-word-confirm-form-input {
  max-width: 100%;
}

.code-word-confirm-title {
    color: var(--text-color);
    justify-self: center;
    text-align: center;
}

a.code-word-confirm-form-bottom-back-link {
  justify-self: start;
  color: var(--auth-form-text-link-color);
  text-decoration: none;
  text-decoration: bold;
}

a.code-word-confirm-form-bottom-back-link:hover {
  color: var(--auth-form-text-link-color);
  text-decoration: underline;
  text-decoration-style: dotted;
}

.code-word-confirm-form-bottom {
  /* display: grid; */
  display: flex;
  /* grid-template-columns: 1fr auto 1fr; */
  align-items: center;
  gap: 0.75rem;
  margin-top: calc(1.75rem);
  justify-content: center;
}

.code-word-confirm-form-bottom-back-link-container {
  justify-self: start;
}

.code-word-confirm-form-submit-button-container {
  grid-column: 2;
  justify-self: center;
  width: max-content;
}

@media (max-width: 576px) {
  .code-word-confirm-form-bottom {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .code-word-confirm-form-bottom-back-link-container {
    justify-self: center;
    grid-row: 2;
  }

  .code-word-confirm-form-submit-button-container {
    grid-column: 1;
    grid-row: 1;
  }
}

.btn.code-word-confirm-form-submit-button,
.btn.code-word-confirm-form-submit-button:hover {
  padding: 5px 30px;
  background-color: var(--confirm-auth-form-btn-color);
  color: var(--text-color);
    min-width: 240px;
    min-height: 44px;
    border: 1px solid var(--light-grey);
    font-weight: 600;
}