@import '../../index.css';

.password-unlock-form {
  min-width: 320px;
}

.password-unlock-bottom {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /* display: flex; */
  align-items: center;
}



.password-unlock-btn.btn,
.password-unlock-btn.btn:hover {
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  background-color: var(--confirm-auth-form-btn-color);
  color: var(--text-color);
  min-width: 180px;
  height: 42px;
  font-weight: 700;
}

@media (max-width: 576px) {
  .password-unlock-bottom {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
 