@import '../../index.css';

.password-unlock-form {
  min-width: 320px;
}

.password-unlock-bottom {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-top: calc(1.75rem + 4px);
}

.password-unlock-bottom .auth-form-bottom-back-link-container {
  justify-self: start;
}

.password-unlock-bottom .auth-form-submit-button-container {
  grid-column: 2;
  justify-self: center;
  width: max-content;
}

.password-unlock-btn.btn,
.password-unlock-btn.btn:hover {
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  background-color: var(--confirm-auth-form-btn-color);
  color: var(--text-color);
  min-width: 180px;
  height: 42px;
  font-weight: 700;
}

@media (min-width: 576px) {
  .password-unlock-btn.btn,
  .password-unlock-btn.btn:hover {
    min-width: 180px;
  }
}

a.password-unlock-back-link {
  color: var(--auth-form-text-link-color);
  text-decoration: none;
  font-weight: 600;
  font-size: var(--font-size-18);
  text-transform: lowercase;
  white-space: nowrap;
}

a.password-unlock-back-link:hover {
  color: var(--auth-form-text-link-color);
  text-decoration: underline;
  text-decoration-style: dotted;
}

@media (max-width: 575.98px) {
  .password-unlock-page .auth-form-head-title h2 {
    font-size: var(--font-size-22);
    font-weight: 600;
  }

  .password-unlock-bottom {
    margin-top: 1rem;
  }

  a.password-unlock-back-link {
    font-size: 13px;
    line-height: 36px;
  }
}
