@import '../../index.css';

.forgot-password-form .form-control::placeholder {
  color: #9a9a9a;
  font-size: 16px;
}

a.auth-form-bottom-back-link {
  justify-self: start;
  color: var(--auth-form-text-link-color);
  text-decoration: none;
}

a.auth-form-bottom-back-link:hover {
  color: var(--auth-form-text-link-color);
  text-decoration: underline;
  text-decoration-style: dotted;
}

.auth-form-bottom {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 0.75rem;
  margin-top: calc(1.75rem + 4px);
}

.auth-form-bottom-back-link-container {
  justify-self: start;
}

.auth-form-submit-button-container {
  grid-column: 2;
  justify-self: center;
  width: max-content;
}

@media (max-width: 575.98px) {
  .auth-form-bottom {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .auth-form-bottom-back-link-container {
    justify-self: center;
    grid-row: 2;
  }

  .auth-form-submit-button-container {
    grid-column: 1;
    grid-row: 1;
  }
}

.btn.auth-form-submit-button,
.btn.auth-form-submit-button:hover {
  padding: 5px 30px;
  background-color: var(--confirm-auth-form-btn-color);
  color: var(--text-color);
  min-width: 240px;
  min-height: 44px;
  border: 1px solid var(--light-grey);
  font-weight: 600;
}
