/* Твои глобальные стили */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    /* фон пока закомментируем, потом добавим */
    /* background-image: url('/background.jpg'); */
    background-size: cover;
    background-position: center;
    /* background-color: #F3C6BB;
    opacity: 0.44; */
}