@import '../../index.css';

.header-navbar {
  box-shadow: none !important;
}

.header-container {
  padding-left: 0 !important;
}

.header-brand {
  margin-right: 32px !important;
  margin-left: -48px;
}

.logo {
  display: block;
  height: 40px;
  width: auto;
}

a.header-text-link {
  --bs-nav-link-color: var(--header-link-text-color);
  color: var(--header-link-text-color);
  text-decoration: none;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  height: 36px;
  line-height: 1;
}

a.header-text-link:hover {
  color: var(--header-link-text-color);
  text-decoration: underline;
  text-decoration-style: dotted;
}

.btn.header-btn,
.btn.header-btn:hover {
  border: 1px solid var(--header-link-text-color);
  border-radius: 15px;
  background-color: var(--header-btn-color);
  color: var(--header-btn-text-color);
  width: 136px;
  height: 36px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.header-actions-desktop {
  align-items: center;
  gap: 10px;
  margin-right: -48px;
}